## Data Cleaning

What follows reflects the primary steps taken to clean both the training and the testing data for what follows. Where possible, the code  redirects longer outputs of summary statistics and column information to text and spreadsheet files in the `cleaning` folder of the parent directory. This is done to keep the notebook as concise as possible, while allowing for more thorough crossreference where necessary. 

As always, initial imports are necessary (though not many for this stage):

In [1]:
import pandas as pd
import numpy as np

Cleaning of training data can never take place that far apart from that of the corresponding testing data. Files are read into their respective dataframes:

In [2]:
train = pd.read_csv('../datasets/train.csv')
test = pd.read_csv('../datasets/test.csv')

Below, column lists are read to external files, and are converted to snake case in their dataframes for consistency. The `salesprice` column is handled manually.

Summary information for each dataset is written to its own external file as well.

In [3]:
train.columns.to_series(index = None).to_csv('../cleaning/01_1_initial_columns_list_train.csv')
test.columns.to_series(index = None).to_csv('../cleaning/01_2_initial_columns_list_test.csv')

In [4]:
train.rename( columns = {item : item.lower().replace(' ', '_') for item in train.columns.tolist()}, inplace = True )
train.rename( columns = {'saleprice' : 'sale_price'}, inplace = True)

test.rename( columns = {item : item.lower().replace(' ', '_') for item in test.columns.tolist()}, inplace = True )
test.rename( columns = {'saleprice' : 'sale_price'}, inplace = True)

In [5]:
train.describe().to_csv('../cleaning/02_1_initial_summary_train.csv')
train.describe().to_csv('../cleaning/02_2_initial_summary_test.csv')

In [6]:
with open('../cleaning/03_1_initial_info_train.txt', 'w') as f1:
    train.info(buf=f1)
with open('../cleaning/03_2_initial_info_test.txt', 'w') as f2:
    test.info(buf=f2)

As evidenced by the many null values across both tables seen in the intial readouts, the first step for preparing this data is to ensure that all columns that make it into the final dataframe are full.

Null values in the `lot frontage` columns apparently represent numeric values of `0`. Null values in the `alley` column are taken to signify a lack of alley access for the properties in question. Columns are revised to reflect these values.

In [7]:
train['lot_frontage'].value_counts().sort_index()
test['lot_frontage'].value_counts().sort_index()

21.0     18
24.0     16
28.0      1
30.0      1
31.0      1
         ..
152.0     1
160.0     2
168.0     1
174.0     1
182.0     1
Name: lot_frontage, Length: 104, dtype: int64

In [8]:
train['lot_frontage'].replace(np.nan, 0.0, inplace = True)
test['lot_frontage'].replace(np.nan, 0.0, inplace = True)

In [9]:
train['alley'].value_counts().sort_index()
test['alley'].value_counts().sort_index()

Grvl    35
Pave    23
Name: alley, dtype: int64

In [10]:
train['alley'].replace(np.nan, 'None', inplace = True)
test['alley'].replace(np.nan, 'None', inplace = True)

Because a number of columns relate to one another necessarily, they must in some sense be validated together. It's important that cells lacking values only be filled with information that makes sense and is consistent with the rest of the entry. (In the example below, a mason veneer cannot have an area of zero square feet and still have a 'type'.) What follows checks both dataframes for any such mismatches.

In [11]:
train[(train['mas_vnr_area'] != 0) & (train['mas_vnr_type'].isnull())][['mas_vnr_type', 'mas_vnr_area']].notnull().sum()

mas_vnr_type    0
mas_vnr_area    0
dtype: int64

In [12]:
test[(test['mas_vnr_area'] != 0) & (test['mas_vnr_type'].isnull())][['mas_vnr_type', 'mas_vnr_area']].notnull().sum()

mas_vnr_type    0
mas_vnr_area    0
dtype: int64

With everything in order, it's safe to fill the cells current empty in both the `mas_vnr_type` column and the `mas_vnr_area` column with meaningful values.

In [13]:
train.loc[(train['mas_vnr_area'] != 0) & (train['mas_vnr_type'].isnull()), ['mas_vnr_type', 'mas_vnr_area']] = 'None', 0
test.loc[(test['mas_vnr_area'] != 0) & (test['mas_vnr_type'].isnull()), ['mas_vnr_type', 'mas_vnr_area']] = 'None', 0

Another cluster of related columns consists of a sundry assortment of basement information. The function and its subsequent passing in the two cells below gives a sense of what values these columns hold.

In [14]:
def bsmt_vals(df, df_name):
    column_list = ['bsmt_qual', 'bsmt_cond', 'bsmt_exposure',
                   'bsmtfin_type_1', 'bsmtfin_sf_1', 'bsmtfin_type_2',
                   'bsmt_unf_sf', 'total_bsmt_sf']
    
    for item in column_list:
        print(item)
        print(df[item].value_counts())

In [15]:
bsmt_vals(train, 'train')

bsmt_qual
TA    887
Gd    864
Ex    184
Fa     60
Po      1
Name: bsmt_qual, dtype: int64
bsmt_cond
TA    1834
Gd      89
Fa      65
Po       5
Ex       3
Name: bsmt_cond, dtype: int64
bsmt_exposure
No    1339
Av     288
Gd     203
Mn     163
Name: bsmt_exposure, dtype: int64
bsmtfin_type_1
GLQ    615
Unf    603
ALQ    293
BLQ    200
Rec    183
LwQ    102
Name: bsmtfin_type_1, dtype: int64
bsmtfin_sf_1
0.0       657
24.0       17
16.0       10
20.0        7
384.0       7
         ...
718.0       1
900.0       1
918.0       1
1619.0      1
1159.0      1
Name: bsmtfin_sf_1, Length: 821, dtype: int64
bsmtfin_type_2
Unf    1749
Rec      80
LwQ      60
BLQ      48
ALQ      35
GLQ      23
Name: bsmtfin_type_2, dtype: int64
bsmt_unf_sf
0.0       165
384.0      14
672.0      11
728.0      10
816.0       9
         ...
266.0       1
20.0        1
521.0       1
109.0       1
1211.0      1
Name: bsmt_unf_sf, Length: 967, dtype: int64
total_bsmt_sf
0.0       54
864.0     51
1040.0    20
672.0     20
816.0     17
          ..
1129.0     1
946.0      1
1236.0     1
2220.0     1
973.0      1
Name: total_bsmt_sf, Length: 892, dtype: int64

In [16]:
bsmt_vals(test, 'test')

bsmt_qual
TA    396
Gd    355
Ex     73
Fa     28
Po      1
Name: bsmt_qual, dtype: int64
bsmt_cond
TA    781
Fa     39
Gd     33
Name: bsmt_cond, dtype: int64
bsmt_exposure
No    567
Av    130
Gd     80
Mn     76
Name: bsmt_exposure, dtype: int64
bsmtfin_type_1
Unf    248
GLQ    243
ALQ    136
Rec    105
BLQ     69
LwQ     52
Name: bsmtfin_type_1, dtype: int64
bsmtfin_sf_1
0       273
24       10
662       4
16        4
936       4
       ...
1387      1
1260      1
360       1
1383      1
1022      1
Name: bsmtfin_sf_1, Length: 462, dtype: int64
bsmtfin_type_2
Unf    749
LwQ     29
Rec     26
BLQ     20
ALQ     18
GLQ     11
Name: bsmtfin_type_2, dtype: int64
bsmt_unf_sf
0       79
270      7
840      5
572      5
100      5
        ..
1368     1
1367     1
339      1
338      1
2046     1
Name: bsmt_unf_sf, Length: 562, dtype: int64
total_bsmt_sf
0       25
864     23
768     10
780      9
912      9
        ..
1580     1
1578     1
407      1
1574     1
2552     1
Name: total_bsmt_sf, Length: 526, dtype: int64

As with the columns related to masonry veneer, the basement items need their empty cells converted accordingly. Below a brief function handles this, imputing `'None'` for string columns and `0` for numeric columns.

In [17]:
def bsmt_cln(df):
    to_none_list = ['bsmt_qual', 'bsmt_cond', 'bsmt_exposure',
                    'bsmtfin_type_1', 'bsmtfin_type_2']
    to_zero_list = ['bsmtfin_sf_1', 'bsmtfin_sf_2','bsmt_unf_sf', 'total_bsmt_sf']
    
    for item in to_none_list:
        df[item].replace([np.nan, 'No'], 'None', inplace = True)
    for item in to_zero_list:
        df[item].replace(np.nan, 0, inplace = True)

In [18]:
bsmt_cln(train)
bsmt_cln(test)

For the empty cell in the `electrical` column of our test datset, a lack of information to crossreference makes its handling difficult. Lest we assume the property has no electricity, it is listed as having "all public utilities", of which electricity is a member. Here it will be listed as "Unknown".

In [19]:
test['electrical'].replace(np.nan, 'Unknown', inplace = True)

A couple more empty basement values in the training dataset, but fortunately, this seems consistent with other information included for these listings (i.e., a lack of surface area, or a lack of basement). These cells have numeric values inserted for consistency with their respective column datatypes.

In [20]:
train[(train['bsmt_full_bath'].isnull() | train['bsmt_half_bath'].isnull())][['bsmt_full_bath', 'bsmt_half_bath', 'total_bsmt_sf']]

      bsmt_full_bath  bsmt_half_bath  total_bsmt_sf
616              NaN             NaN            0.0
1327             NaN             NaN            0.0

In [21]:
train['bsmt_full_bath'].replace(np.nan, 0, inplace=True)
train['bsmt_half_bath'].replace(np.nan, 0, inplace=True)

Onward to fireplaces, which are also recorded as having numeric values. In the few cells below, again we make sure that there are no listings for fireplace quality where there are no fireplaces, and that no fireplaces are listed where fireplace quality is not listed. 

The purpose here is to provide a greater degree of certainty to the `'None'` and `0` values we add to these cells, and that the columns for each entry tell a consistent story.

In [22]:
train['fireplaces'].value_counts()

0    1000
1     898
2     146
3       6
4       1
Name: fireplaces, dtype: int64

In [23]:
train.loc[train['fireplace_qu'].isnull()]['fireplaces'].sum(), test.loc[test['fireplace_qu'].isnull()]['fireplaces'].sum()

(0, 0)

In [24]:
train.query('fireplaces == 0')['fireplace_qu'].value_counts(), test.query('fireplaces == 0')['fireplace_qu'].value_counts()

(Series([], Name: fireplace_qu, dtype: int64),
 Series([], Name: fireplace_qu, dtype: int64))

Here we fill the fireplace columns accordingly:

In [25]:
train['fireplace_qu'].replace(np.nan, 'None', inplace = True)
test['fireplace_qu'].replace(np.nan, 'None', inplace = True)

Now, garage information. We replace empty cells in the `garage area` column with zeroes, as it is numeric. A note on `garage_yr_blt`. For both the training dataset and the testing datset, this column had many null values, and so as a numeric input value, it is unworkable within the scope of this project. For now we will fill these cells with `'None'` on the chance that the column might be useful as a categorical variable when the time comes.

In [26]:
train['garage_area'].replace(np.nan, 0, inplace = True)
test['garage_area'].replace(np.nan, 0, inplace = True)
train['garage_yr_blt'].replace(np.nan, 'None', inplace = True)
test['garage_yr_blt'].replace(np.nan, 'None', inplace = True)

Again, doing some crossreferencing within each entry for columns related to the garage (where there is one). Checking for any rows where there is no garage but garage traits are listed. Also checking for properties that have garages but lack trait listings.

In [27]:
train[train['garage_area'] == 0][['garage_type', 'garage_finish', 'garage_qual', 'garage_cond', 'garage_cars']].sum()

garage_finish      0
garage_qual        0
garage_cond        0
garage_cars      0.0
dtype: object

In [28]:
train[train['garage_area'] != 0][['garage_type', 'garage_finish', 'garage_qual', 'garage_cond']].isnull().sum()

garage_type      0
garage_finish    0
garage_qual      0
garage_cond      0
dtype: int64

In [29]:
test[test['garage_area'] == 0][['garage_type', 'garage_finish', 'garage_qual', 'garage_cond', 'garage_cars']].sum()

garage_type      0
garage_finish    0
garage_qual      0
garage_cond      0
garage_cars      0
dtype: object

Below, an entry in the testing dataset shows some missing categorical information where there is a garage (i.e., where the square footage of the garage is not equal to `0`).

In [30]:
test[test['garage_area'] != 0][['garage_type', 'garage_finish', 'garage_qual', 'garage_cond']].isnull().sum()

garage_type      0
garage_finish    1
garage_qual      1
garage_cond      1
dtype: int64

These cells have their values set as `'Unknown'` to make the test dataset manageable in the modeling to come:

In [31]:
mask1 = test['garage_area'] != 0
mask2 = test['garage_finish'].isnull()
mask3 = test['garage_qual'].isnull()
mask4 = test['garage_cond'].isnull()

test.loc[(mask1 & mask2), : 'garage_finish'] = 'Unknown'
test.loc[(mask1 & mask3), : 'garage_qual'] = 'Unknown'
test.loc[(mask1 & mask4), : 'garage_cond'] = 'Unknown'

Some final wrapping up of the garage data. The function here allows `Nan` values that "check out" to be replaced with meaningful information, and the code below the function applies these changes to both datasets.

In [32]:
def clean_grg(df):
    to_none_list = ['garage_type', 'garage_finish', 'garage_qual', 'garage_cond']
    to_zero_list = ['garage_cars']
    
    for item in to_none_list:
        df[item].replace(np.nan, 'None', inplace = True)
    for item in to_zero_list:
        df[item].replace(np.nan, 0, inplace = True)

In [33]:
clean_grg(train)
clean_grg(test)

In [34]:
train[train['garage_area'] == 0][['garage_type', 'garage_finish', 'garage_qual', 'garage_cond', 'garage_cars']].sum()
train[train['garage_area'] != 0][['garage_type', 'garage_finish', 'garage_qual', 'garage_cond']].isnull().sum()
test[test['garage_area'] == 0][['garage_type', 'garage_finish', 'garage_qual', 'garage_cond', 'garage_cars']].sum()
test[test['garage_area'] != 0][['garage_type', 'garage_finish', 'garage_qual', 'garage_cond']].isnull().sum()

garage_type      0
garage_finish    0
garage_qual      0
garage_cond      0
dtype: int64

The garage data is now consistent.

Below, pool information for each property is crossreferenced for consistency, and everything seems in order. The code that follows inputs meaning values where the cells are empty.

In [35]:
print(train[train['pool_qc'].isnull()]['pool_area'].sum())
print(train[train['pool_area'] == 0]['pool_qc'].notnull().sum())
print(test[test['pool_qc'].isnull()]['pool_area'].sum())
print(test[test['pool_area'] == 0]['pool_qc'].notnull().sum())

0
0
0
0

In [36]:
train['pool_qc'].replace(np.nan, 'None', inplace = True)
test['pool_qc'].replace(np.nan, 'None', inplace = True)

Next, `fence` and `misc_features` seem to have their ranges of values in order, and their empty cells are polished.

In [37]:
train['fence'].value_counts()

MnPrv    227
GdPrv     83
GdWo      80
MnWw      10
Name: fence, dtype: int64

In [38]:
test['fence'].value_counts()

MnPrv    103
GdPrv     35
GdWo      32
MnWw       2
Name: fence, dtype: int64

In [39]:
train['fence'].replace(np.nan, 'None', inplace = True)
test['fence'].replace(np.nan, 'None', inplace = True)

In [40]:
train['misc_feature'].value_counts()

Shed    56
Gar2     4
Othr     3
TenC     1
Elev     1
Name: misc_feature, dtype: int64

In [41]:
test['misc_feature'].value_counts()

Shed    39
Othr     1
Gar2     1
Name: misc_feature, dtype: int64

In [42]:
train['misc_feature'].replace(np.nan, 'None', inplace = True)
test['misc_feature'].replace(np.nan, 'None', inplace = True)

Below is a small function that simply prints the minimum and the maximum values where possible to ensure that values seem reasonable. The output is long, but unltimately, nothing grabs immediate attention or sets off any alarms.

In [43]:
def min_max_print(df):
    for item in df.columns.tolist():
        try:
            print(item, '\t', df[item].min(), '\t', df[item].max())
        except:
            print(item)

In [44]:
min_max_print(train)

id 	 1 	 2930
pid 	 526301100 	 924152030
ms_subclass 	 20 	 190
ms_zoning 	 A (agr) 	 RM
lot_frontage 	 0.0 	 313.0
lot_area 	 1300 	 159000
street 	 Grvl 	 Pave
alley 	 Grvl 	 Pave
lot_shape 	 IR1 	 Reg
land_contour 	 Bnk 	 Lvl
utilities 	 AllPub 	 NoSewr
lot_config 	 Corner 	 Inside
land_slope 	 Gtl 	 Sev
neighborhood 	 Blmngtn 	 Veenker
condition_1 	 Artery 	 RRNn
condition_2 	 Artery 	 RRNn
bldg_type 	 1Fam 	 TwnhsE
house_style 	 1.5Fin 	 SLvl
overall_qual 	 1 	 10
overall_cond 	 1 	 9
year_built 	 1872 	 2010
year_remod/add 	 1950 	 2010
roof_style 	 Flat 	 Shed
roof_matl 	 ClyTile 	 WdShngl
exterior_1st 	 AsbShng 	 WdShing
exterior_2nd 	 AsbShng 	 Wd Shng
mas_vnr_type 	 BrkCmn 	 Stone
mas_vnr_area 	 0.0 	 1600.0
exter_qual 	 Ex 	 TA
exter_cond 	 Ex 	 TA
foundation 	 BrkTil 	 Wood
bsmt_qual 	 Ex 	 TA
bsmt_cond 	 Ex 	 TA
bsmt_exposure 	 Av 	 None
bsmtfin_type_1 	 ALQ 	 Unf
bsmtfin_sf_1 	 0.0 	 5644.0
bsmtfin_type_2 	 ALQ 	 Unf
bsmtfin_sf_2 	 0.0 	 1474.0
bsmt_unf_sf 	 0.0 	 2336.0
total_bsmt_sf 	 0.0 	 6110.0
heating 	 GasA 	 Wall
heating_qc 	 Ex 	 TA
central_air 	 N 	 Y
electrical 	 FuseA 	 SBrkr
1st_flr_sf 	 334 	 5095
2nd_flr_sf 	 0 	 1862
low_qual_fin_sf 	 0 	 1064
gr_liv_area 	 334 	 5642
bsmt_full_bath 	 0.0 	 3.0
bsmt_half_bath 	 0.0 	 2.0
full_bath 	 0 	 4
half_bath 	 0 	 2
bedroom_abvgr 	 0 	 8
kitchen_abvgr 	 0 	 3
kitchen_qual 	 Ex 	 TA
totrms_abvgrd 	 2 	 15
functional 	 Maj1 	 Typ
fireplaces 	 0 	 4
fireplace_qu 	 Ex 	 TA
garage_type 	 2Types 	 None
garage_yr_blt
garage_finish 	 Fin 	 Unf
garage_cars 	 0.0 	 5.0
garage_area 	 0.0 	 1418.0
garage_qual 	 Ex 	 TA
garage_cond 	 Ex 	 TA
paved_drive 	 N 	 Y
wood_deck_sf 	 0 	 1424
open_porch_sf 	 0 	 547
enclosed_porch 	 0 	 432
3ssn_porch 	 0 	 508
screen_porch 	 0 	 490
pool_area 	 0 	 800
pool_qc 	 Ex 	 TA
fence 	 GdPrv 	 None
misc_feature 	 Elev 	 TenC
misc_val 	 0 	 17000
mo_sold 	 1 	 12
yr_sold 	 2006 	 2010
sale_type 	 COD 	 WD
sale_price 	 12789 	 611657

In [45]:
min_max_print(test)

id
pid
ms_subclass
ms_zoning 	 C (all) 	 Unknown
lot_frontage
lot_area
street 	 Grvl 	 Unknown
alley 	 Grvl 	 Unknown
lot_shape 	 IR1 	 Unknown
land_contour 	 Bnk 	 Unknown
utilities 	 AllPub 	 Unknown
lot_config 	 Corner 	 Unknown
land_slope 	 Gtl 	 Unknown
neighborhood 	 Blmngtn 	 Veenker
condition_1 	 Artery 	 Unknown
condition_2 	 Feedr 	 Unknown
bldg_type 	 1Fam 	 Unknown
house_style 	 1.5Fin 	 Unknown
overall_qual
overall_cond
year_built
year_remod/add
roof_style 	 Flat 	 Unknown
roof_matl 	 CompShg 	 WdShngl
exterior_1st 	 AsbShng 	 WdShing
exterior_2nd 	 AsbShng 	 Wd Shng
mas_vnr_type 	 BrkCmn 	 Unknown
mas_vnr_area
exter_qual 	 Ex 	 Unknown
exter_cond 	 Ex 	 Unknown
foundation 	 BrkTil 	 Wood
bsmt_qual 	 Ex 	 Unknown
bsmt_cond 	 Fa 	 Unknown
bsmt_exposure 	 Av 	 Unknown
bsmtfin_type_1 	 ALQ 	 Unknown
bsmtfin_sf_1
bsmtfin_type_2 	 ALQ 	 Unknown
bsmtfin_sf_2
bsmt_unf_sf
total_bsmt_sf
heating 	 Floor 	 Unknown
heating_qc 	 Ex 	 Unknown
central_air 	 N 	 Y
electrical 	 FuseA 	 Unknown
1st_flr_sf
2nd_flr_sf
low_qual_fin_sf
gr_liv_area
bsmt_full_bath
bsmt_half_bath
full_bath
half_bath
bedroom_abvgr
kitchen_abvgr
kitchen_qual 	 Ex 	 Unknown
totrms_abvgrd
functional 	 Maj1 	 Unknown
fireplaces
fireplace_qu 	 Ex 	 Unknown
garage_type 	 2Types 	 Unknown
garage_yr_blt
garage_finish 	 Fin 	 Unknown
garage_cars
garage_area
garage_qual 	 Fa 	 Unknown
garage_cond 	 Ex 	 Unknown
paved_drive 	 N 	 Y
wood_deck_sf 	 0 	 690
open_porch_sf 	 0 	 742
enclosed_porch 	 0 	 1012
3ssn_porch 	 0 	 360
screen_porch 	 0 	 576
pool_area 	 0 	 555
pool_qc 	 Ex 	 TA
fence 	 GdPrv 	 None
misc_feature 	 Gar2 	 Shed
misc_val 	 0 	 15500
mo_sold 	 1 	 12
yr_sold 	 2006 	 2010
sale_type 	 COD 	 WD

Some final information for both datasets is written again to the `cleaning` folder for reference, as are the actual revised datframes for easier access. All columns are full.

In [46]:
train.describe().to_csv('../cleaning/04_1_final_summary_train.csv')
test.describe().to_csv('../cleaning/04_2_final_summary_test.csv')

In [47]:
with open('../cleaning/05_1_final_info_train.txt', 'w') as f1:
    train.info(buf=f1)
with open('../cleaning/05_2_final_info_test.txt', 'w') as f2:
    test.info(buf=f2)

In [48]:
train.to_csv('../datasets/main_train.csv', index = False)
test.to_csv('../datasets/main_test.csv', index = False)

The files above ([`main_train.csv`](../datasets/main_train.csv) and [`main_test.csv`](../datasets/main_test.csv)) contain the information as it initially exists during the exploratory data analysis that follows.