In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [51]:
kaggle = pd.read_csv('../datasets/base_submit.csv')[['id', 'estimates']]

In [54]:
kaggle['Sale_Price'] = kaggle['estimates']

In [56]:
kaggle.drop(columns = 'estimates', inplace = False)

       id     Sale_Price
0    2658  151648.812499
1    2718  183752.919258
2    2414  206243.229876
3    1989  115151.597682
4     625  175244.795022
..    ...            ...
873  1662  198144.208579
874  1234  188488.679650
875  1373  119404.814385
876  1672   99342.795871
877  1939  117133.353168

[878 rows x 2 columns]